<form method="post" action='/articles'
    

<label for="book_name">Book Name: </label>
<input type="text" name="title">

<label for="book_content">Book Content: </label>
<input type="text" name="content">

<input type="submit">
</form>